<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pesquisa GitHub
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content class="content">
      <ion-input class="pesquisaInput" fill="outline" placeholder="Digite um perfil válido no github" ></ion-input>
      <ion-button class="pesquisaButton">Pesquisar</ion-button> 
    </ion-card-content>
  </ion-card>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
